/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
header{
    align-items: center;
    padding: 15px;
    background-color: #FF6900;
    margin-bottom: 30px;
    
}
.container{
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;  
    
}

.boolean{
    width: 120px;
    height: 30px;
}

nav{
    display: block;
}

.main-nav{
    width: 10%;
    text-align: left;
}
.main-nav ul{
    display: flex;
    list-style-type: none; 
}
.logo{
    width: 80%;
    text-align: center;
}
.icons{
    width: 10%;
   
    text-align: right;
    
    
}
li{
    display: list-item;
    padding: 5px;
    color: white;
}
i{
    padding: 10px; 
}
/* MAIN */
.col{
    width: 33%;
    text-align: left;
    
    position: relative;
   
}
section{
    display: block;
    margin-bottom: 30px;
}
.col img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
}
.price{
    color: red;
}
.wrong-price{
    text-decoration: line-through;
    color: black;
}

.heart{
    position: absolute;
    top: 15px;
    left: 340px;
    right: 0px;
    background-color: white;
}
/* FOOTER */
footer{
    max-height: 500px;
    background-color: #1A1A1A;
    
   
}

.footer-nav{
    width: 50%;
    text-align: left; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-nav ul{
    display: flex;
    list-style-type: none; 
}
.social{
    width: 50%;
    color: white;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    text-align: right;
    
}
h3{
    padding: 5px;
    color: white;
}